<mat-card class="pasta-container">
    <div class="pasta-header">
      <mat-form-field appearance="outline">
        <mat-label>Cook</mat-label>
        <input matInput type="text" readonly [(ngModel)]="pastaimg.key">
      </mat-form-field>
      <button mat-icon-button 
        aria-hidden="false"
        [matTooltip]="'Data udostępnienia: ' +( pastaimg.creationDate | date: 'dd.MM.yyyy HH:mm' )+ '\n Data straty dostępu: ' +( pastaimg.deleteDate | date: 'dd.MM.yyyy HH:mm')">
      <mat-icon>
        help_outline
      </mat-icon>
    </button>
    <button mat-icon-button (click)="downloadImage()" [disabled]="!pastaimg.image" matTooltip="Pobierz zdjęcie">
      <mat-icon>file_download</mat-icon>
    </button>
    </div>
    <div class="pasta-content">
        <img [src]="pastaimg.image" alt="Obraz" class="image">
    </div>      
</mat-card>
  