<mat-card class="container">
    <mat-card-content class="content">
      <form [formGroup]="formPastaImage" (ngSubmit)="onSubmit()">
        <div class="textarea">
            <div class="image-container" *ngIf="!imageSrc">
              <span>Wrzuć zdjęcie</span>
            </div>
            <img [src]="imageSrc" alt="Selected Image" *ngIf="imageSrc" class="selected-image" />
            <input type="file" (change)="onFileSelected($event)" accept="image/*" class="file-input" />
        </div>

        <div class="button-container">
          <mat-form-field appearance="fill">
            <mat-label>Wybierz datę</mat-label>
            <input type="datetime-local" color="warn" matInput class="key-input" formControlName="date"/>
          </mat-form-field>
          <button mat-raised-button color="warn" type="submit">Generuj</button>
        </div>
      </form>
    <mat-form-field appearance="fill">
      <input type="text" matInput [(ngModel)]="key" readonly class="readonly-input"/>
    </mat-form-field> 
  </mat-card-content>
</mat-card>
  