.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .textarea {
    margin-bottom: 20px;
    position: relative;
  }
  
  .selected-image {
    max-width: 100%;
    max-height: 200px; /* maksymalna wysokość obrazu */
    min-height: 200px; /* maksymalna wysokość obrazu */

    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px; /* wysokość pustego prostokąta */
    border: 1px dashed #ccc; /* styl obramowania pustego prostokąta */
    border-radius: 5px;
  }
  
  .image-container span {
    font-size: 16px; /* rozmiar czcionki tekstu "Wrzuć zdjęcie" */
    color: #999; /* kolor tekstu "Wrzuć zdjęcie" */
  }
  
  .selected-image {
    max-width: 100%;
    max-height: 200px; /* maksymalna wysokość obrazu */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  
  .button-container {
    display: flex;
    justify-content:center;
    margin-top: 20px;
    gap: 30px;
  }
  
  .mat-form-field {
    width: 45%; /* dostosuj szerokość pola formularza według potrzeb */
  }
  
  .readonly-input {
    width: 90%;
  }
  