.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh; /* Cała wysokość widoku */
    gap: 20px; /* Odstęp między elementami */
  }
  
  mat-button-toggle.selected {
    font-weight: bold;
  }
  