<mat-card class="container">
  <mat-card-content class="content">
    <form [formGroup]="formPastaText" (ngSubmit)="onSubmit()">
      <mat-form-field class="textarea" appearance="fill">
        <mat-label>Zawartość</mat-label>
        <textarea matInput formControlName="content" name="content"></textarea>
      </mat-form-field>
      <div class="button-container">
          <mat-label>Wybierz datę</mat-label>
          <input type="datetime-local" class="key-input" formControlName="date"/>
        <button mat-raised-button color="warn" type="submit">Generuj</button>
      </div>
    </form>
    <mat-form-field appearance="fill">
      <input type="text" matInput [(ngModel)]="key" readonly class="readonly-input"/>
    </mat-form-field>
  </mat-card-content>
</mat-card>
