<mat-card>
    <mat-card-content>
        <form [formGroup]="formPastaText" (ngSubmit)="onSubmit()">
            <textarea matInput formControlName="content" name="content"></textarea>

            <mat-form-field appearance="fill">
                <mat-label>Wybierz datę</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div>
                <button mat-raised-button color="primary" type="submit">Generuj</button>
                <p>{{key}}</p>
            </div>
        </form>
    </mat-card-content>
</mat-card>
