<div>
  <div class="banner">
    <h1>PastaBin</h1>
  </div>
  <div class="buttons_banner">
    <p>
      <label>Witaj 🙋‍♀️</label>
      <!-- Tu będzie się zmieniać -->
      <label>Nazwa </label>
    </p>
    <!-- To zawsze bedzie -->
    <div>
      <button> Otwórz paste </button>
      <button> Nowa Pasta </button>
    </div>
    <!-- Te guziki dla nie zalogowanego użytkownika-->
    <div class="low_buttons">
      <button> Zaloguj </button>
      <button> Utwórz Konto </button>
    </div>
    <!-- Te guziki dla zalogowanego użytkownika -->
    <div class="low_buttons">
      <button> Ustawienia </button>
      <button> Wyloguj </button>
    </div>
  </div>
  <div class="page">
    <router-outlet />
  </div>
</div>
