<div class="main-container">
  <div class="button-container">
    <button class="toggle-button" [class.active]="showTextComponent === '0'" (click)="toggleComponent('0')">Udostępnienia</button>
    <button class="toggle-button-three" [class.active]="showTextComponent === '1'" (click)="toggleComponent('1')">Grupy</button>
    <button class="toggle-button-two" [class.active]="showTextComponent === '2'" (click)="toggleComponent('2')">Historia</button>
  </div>

  <div *ngIf="showTextComponent === '0'">
    <app-pasta-sharing-settings [IDBind]="id"></app-pasta-sharing-settings>
  </div>

  <div *ngIf="showTextComponent === '1'">
    <app-pasta-sharing-groups [IDBind]="id"></app-pasta-sharing-groups>
  </div>

  <div *ngIf="showTextComponent === '2'">
    <app-pasta-history [IDBind]="id"></app-pasta-history>
  </div>
</div>
