<div class="main-container">
  <div class="button-container">
    <button class="toggle-button" [class.active]="showTextComponent === 'true'" (click)="toggleComponent('true')">Tekst</button>
    <button class="toggle-button-two" [class.active]="showTextComponent === 'false'" (click)="toggleComponent('false')">Zdjęcie</button>
  </div>

  <div *ngIf="showTextComponent === 'true'">
    <app-new-pasta-text></app-new-pasta-text>
  </div>

  <div *ngIf="showTextComponent === 'false'">
    <app-new-pasta-image></app-new-pasta-image>
  </div>
</div>
