<body>
<form (ngSubmit)="addGroupSharing()">
    <input type="datetime-local" name="endSharingDate" [(ngModel)]="endSharingDate">
    <br/>
    <button type="submit">Dodaj</button>
</form>

<input type="text" name="newGroupKey" [(ngModel)]="groupKey" readonly>

<table>
    <!-- Trzeba dodać usuwanie oraz edytowanie -->
    <tr>
      <th>
        Cook
      </th>
      <th>
        Data utworzenia    
      </th>
      
      <th>
        Data straty dostępu    
      </th>
      <th>
        Usuń
      </th>
    </tr>
    <tr *ngFor="let psg of data">
      <td>{{psg.groupKey}}</td>
      <td>{{ psg.creationDate | date: 'dd.MM.yyyy HH:mm' }}</td>
      <td>{{ psg.endSharingDate | date: 'dd.MM.yyyy HH:mm' }}</td>
      <td><button (click)="Delete(psg.groupSharingID)">Usuń</button></td>
    </tr>
  </table>
</body>
