<body>
<form (ngSubmit)="addGroupSharing()">
    <input type="datetime-local" name="endSharingDate" [(ngModel)]="endSharingDate">
    <br/>
    <button type="submit">Dodaj</button>
</form>

<input type="text" name="newGroupKey" [(ngModel)]="groupKey" readonly>


<ol>
    <!-- Trzeba dodać usuwanie oraz edytowanie -->

    <li *ngFor="let psg of data">
        <p> {{psg.groupKey}}</p>
        <p>{{ psg.endSharingDate | date: 'dd.MM.yyyy HH:mm' }}</p>
        <p> {{psg.creationDate | date: 'dd.MM.yyyy HH:mm' }}</p>
    </li>
</ol>
</body>
