<body>
<form (ngSubmit)="addPastaSharingSetting()">
  <input type="text" [(ngModel)]="cookLogin" name="cookLogin" placeholder="Cook Login">
  <br/>
  <input type="datetime-local" [(ngModel)]="endSharingDate" name="endSharingDate" required="false">
  <br/>
  <button type="submit">Dodaj</button>
</form>
<ol>
  <!-- Trzeba dodać usuwanie oraz edytowanie -->

  <li *ngFor="let pss of data">
    <p>{{ pss.cookLogin }}</p>
    <p>{{ pss.endSharingDate | date: 'dd.MM.yyyy HH:mm' }}</p>
    <p>{{ pss.creationDate | date: 'dd.MM.yyyy HH:mm' }}</p>
    <button (click)="Delete(pss.pastaSharingID)">Usuń</button>
  </li>
</ol>
</body>
