<body>
  <div class="main-container">
    <div class="container form-container">
      <form (ngSubmit)="addPastaSharingSetting()">
        <input type="text" [(ngModel)]="cookLogin" name="cookLogin" placeholder="Cook Login">
        <br/>
        <input type="datetime-local" [(ngModel)]="endSharingDate" name="endSharingDate" required="false">
        <br/>
        <button type="submit">Dodaj</button>
      </form>
    </div>
    <div class="container list-container">
      <table>
  <!-- Trzeba dodać usuwanie oraz edytowanie -->
  <tr>
    <th>
      Cook
    </th>
    <th>
      Data utworzenia    
    </th>
    
    <th>
      Data straty dostępu    
    </th>
    <th>
      Usuń
    </th>
  </tr>
  <tr *ngFor="let pss of data">
    <td>{{ pss.cookLogin }}</td>
    <td>{{ pss.creationDate | date: 'dd.MM.yyyy HH:mm' }}</td>
    <td>{{ pss.endSharingDate | date: 'dd.MM.yyyy HH:mm' }}</td>
    <td><button (click)="Delete(pss.pastaSharingID)">Usuń</button></td>
  </tr>
</table>
    </div>
  </div>
</body>
