<body>
<div class="container">
  <div class="content">
    <div class="form-field textarea">
      <label for="content">Zawartość</label>
      <textarea id="content" [ngModel]="text" readonly name="content"></textarea>
    </div>
    <div class="button-container">
      <div class="form-field key-input">
        <label for="key">Klucz</label>
        <input type="text" id="key" [(ngModel)]="key">
      </div>
      <button class="btn" (click)="readPasta()" [disabled]="key === ''">Odczytaj</button>
    </div>
  </div>
</div>
</body>
