<body>
<div class="container">
  <div class="content">
    <div *ngIf="imageSrc" class="textarea">
      <img [src]="imageSrc" alt="Obraz" class="image">
    </div>
    <div *ngIf="!imageSrc" class="textarea">
      <div class="no-image">
        <span>Brak obrazu</span>
      </div>
    </div>
    <div class="button-container">
      <div class="form-field key-input">
        <label for="key">Klucz</label>
        <input type="text" id="key" [(ngModel)]="key">
      </div>
      <button class="btn" (click)="readPasta()" [disabled]="key === ''">Odczytaj</button>
    </div>
  </div>
</div>
</body>
